
{% load static %}
<div class="my-footer">
    <div class="footer-inside">
        <div class="caption-footer">
            <h3 class="Footer-name"> Apex Gym</h3>
            <p>
                Transform your body, ignite your passion, and exceed your limits. Welcome to your fitness sanctuary.
            </p>
                <div class="footer-social-media">
                    <img width="20px" height="20px" src="{% static 'images/fb.png' %}" alt="">
                    <img width="20px" height="20px" src="{% static 'images/insta.png' %}" alt="">
                    <img width="20px" height="20px" src="{% static 'images/twitter.png' %}" alt="">
                </div>
        </div>
        <div class="quick-links"  >
            <h3 class="Footer-link">Links</h3>
            <a href="/">Home</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'facilities' %}">Facilities</a>
            <a href="{% url 'plans' %}">Packages</a>
            <a href="{% url 'trainers' %}">Trainers</a>
            <a href="{% url 'contact' %}">Contact Us</a>
        </div>

        <div class="get-in-touch" >
            <h3 class="Footer-link">Get In Touch</h3>
            <h6><a href="tel:100000000" target="_blank"><img width="20px" height="20px" src="{% static 'images/phone.png' %}"> 123-789-255</a></h6>
            <h6><a href = "mailto: abc@example.com" target="_blank"><img width="20px" height="20px" src="{% static 'images/mail.png' %}"> Apex123@gmail.com</a></h6>
            <h6><a href="https://maps.app.goo.gl/AshMMC8gyLeBGpk26" target="_blank"><img width="20px" height="20px" src="{% static 'images/location.png' %}">Near kundara railway station</a></h6>
        </div>
    </div>
    <div class="copyright">
        <h6>© 2024 Apex. All rights reserved</h6>
    </div>
</div>
<div class="my-footer-2">
    <div class="caption-footer-2">
        <h3 class="Footer-name"> Apex Gym</h3>
        <p>
            Transform your body, ignite your passion, and exceed your limits. Welcome to your fitness sanctuary.
        </p>
    </div>
    <div class="accordion-flush  my-acc" id="accordionExample"> 
        <div class="accordion-item  mb-4">
          <h2 class="accordion-header bg-transparent">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3 class="Footer-link-1">Links</h3>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body thefirst-acc">
                <a href="/">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="{% url 'facilities' %}">Facilities</a>
                <a href="{% url 'plans' %}">Packages</a>
                <a href="{% url 'trainers' %}">Trainers</a>
                <a href="{% url 'contact' %}">Contact Us</a>        
             </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h3 class="Footer-link-1">Get In Touch</h3>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body  thesecond-acc">
                <h6><a href="tel:100000000" target="_blank" ><img width="20px" height="20px" src="{% static 'images/phone.png' %}">   123-789-255</a></h6>
                <h6><a  href = "mailto: abc@example.com" target="_blank"><img width="20px" height="20px" src="{% static 'images/mail.png' %}">   Apex123@gmail.com</a></h6>
                <h6><a href="https://maps.app.goo.gl/AshMMC8gyLeBGpk26" target="_blank"><img width="20px" height="20px" src="{% static 'images/location.png' %}">     Near kundara railway station</a></h6>
                </div>
          </div>
        </div>
      </div>
      <div class="footer-social-media-2">
        <img width="20px" height="20px" src="{% static 'images/fb.png' %}" alt="">
        <img width="20px" height="20px" src="{% static 'images/insta.png' %}" alt="">
        <img width="20px" height="20px" src="{% static 'images/twitter.png' %}" alt="">
    </div>
    <div class="copyright-2">
        <h6>© 2024 Apex. All rights reserved</h6>
    </div>
</div>