{% load static %}

<nav class="gym-nav">
    <div class="nav-caption">
        <img  width="70px" height="70px"  src="{% static 'images/logo.png' %}" >
        <h3 class="gym-name"> Phoenix Gym</h3>
    </div>
    <ul class="gym-pages">
        <a class="page-links" href="/"><li class="page-names">Home</li></a>
        <a class="page-links" href="#"><li class="page-names">About Us</li></a>
        <a class="page-links" href="#"><li class="page-names">Facilities</li></a>
        <a class="page-links" href="#"><li class="page-names">Trainers</li></a>
        <a class="page-links" href="#"><li class="page-names">Contact Us</li></a>
    </ul>
    <div class="gym-time">
   <h6 class="time"><img class="clock" src="{% static 'images/alarm.png' %}">Time</h6>
   <h6 class="time-shedule">Morning: 4:00am-9:00am</h6>
   <h6 class="time-shedule">Evening: 4:00pm-10:00pm</h6>
    </div>

   
</nav>




  <nav class="navbar  gym-nav-2">
    <a class="gym-name-2" href="#"><img  width="70px" height="70px"  src="{% static 'images/logo.png' %}" >Phoenix Gym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav  .gym-pages-2">
        <li class="nav-item">
          <a class="nav-link page-links-1" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-links-1" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-links-1" href="#">Facilities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link page-links-1" href="#">Trainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-links-1" href="#">Contact Us</a>
          </li>    
      </ul>
    </div>  
  </nav>