{% load static %}
<nav class="gym-nav">
    <div class="nav-caption">
        <h3 class="gym-name">Phoenix Gym</h3>
    </div>
    <ul class="gym-pages">
        <a class="page-links" href="#"><li class="page-names">Home</li></a>
        <a class="page-links" href="#"><li class="page-names">About Us</li></a>
        <a class="page-links" href="#"><li class="page-names">Services</li></a>
        <a class="page-links" href="#"><li class="page-names">Trainers</li></a>
        <a class="page-links" href="#"><li class="page-names">Contact Us</li></a>
    </ul>
    <div class="gym-time">

    </div>
</nav>