{% load static %}

<nav class="gym-nav">
    <div class="nav-caption">
        <h3 class="gym-name">Phoenix Gym</h3>
    </div>
    <ul class="gym-pages">
        <a class="page-links" href="#"><li class="page-names">Home</li></a>
        <a class="page-links" href="#"><li class="page-names">About Us</li></a>
        <a class="page-links" href="#"><li class="page-names">Services</li></a>
        <a class="page-links" href="#"><li class="page-names">Trainers</li></a>
        <a class="page-links" href="#"><li class="page-names">Contact Us</li></a>
    </ul>
    <div class="gym-time">
   <h6 class="time"><img class="clock" src="{% static 'images/alarm.png' %}">Time</h6>
   <h6 class="time-shedule">Morning: 4:00am-9:00am</h6>
   <h6 class="time-shedule">Evening: 4:00pm-10:00pm</h6>
    </div>

   
</nav>
<nav class="gym-nav-2">
    <div class="nav-caption-2">
        <h3 class="gym-name">Phoenix Gym</h3>
    </div>
    <div class="togle-button">
        <span class="white-line"></span>
        <span class="white-line"></span>
        <span class="white-line"></span>

    </div>
</nav>
