*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.gym-nav{
    background-color: #0c1f34;
    width:100%;
    position: fixed;
    top:0;
    display: flex;
    flex-direction:row;
    height:80px;
    z-index: 999;}

@media screen and (max-width:850px) {
    .gym-nav{
        display: none;
    }
    
}
.gym-pages{
    list-style-type: none;
    display: flex;
    flex-direction: row;
   
    margin-top: 1%;
    width: 60%;
    margin-bottom: 1%;
    margin-left: auto;
    animation: fadeInAnimation ease 3s;
    margin-right: auto;
  }

  @keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
.page-links{
    
    
   margin: auto;
    text-decoration: none;
    color:#697078;
}
.page-links:hover{
   
 
  
  color: white;
  
 
}


.gym-name{
    font-family: inherit;
    color:white;
    font-weight: 600;
    margin: auto;
    font-size: clamp(1.15rem, 1.0825rem + 0.3859vw, 1.45rem);
    animation: fadeInAnimation ease 2s;
    text-align: center;
}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
.nav-caption{
    margin: auto;

}
@media screen and (max-width:940px)
{
    .nav-caption{
  position: absolute;
  left: 34%;
    }
}
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(100px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateX(0) skew(-20deg);
    }
}

.gym-time {
    transform: skew(-20deg);
    background:#427eb3;
    max-width: 250px;
    width:100%;
    position: relative;
    left: 2vw;
    animation: fadeInRight ease 2s; 
  
}
.time{
    font-weight:500;
    color:white;
    transform: skew(20deg);
   
}
.clock{
    width: 20px;
  margin-right: 13px;
  margin-left: 18px;
}
.time-shedule{
    color:white;
    font-size: .75rem;
    text-align:center;
    transform: skew(20deg);

}

.gym-nav-2{
    display: none !important;
}
@media screen and (max-width:850px)
{
    .gym-nav-2{
        background-color: #0c1f34;
        width:100%;
        position: fixed;
        top:0;
        display: flex !important;
        flex-direction:row;
        justify-content: space-between;
        z-index: 999;
    } 
} 
.nav-caption-2{
    text-align: center;
     margin: 20px;
}

.gym-name-2{
    font-family: inherit;
  color: white;
  font-weight: 600;
  font-size: clamp(1.15rem, 1.0825rem + 0.3859vw, 1.45rem);
  animation: fadeInAnimation ease 3s;
  text-align: center;
  text-decoration: none;
}
@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
.nav-caption{
    margin: auto;

}

.page-links-1{
    
    
     text-decoration: none;
     color:#697078 !important;
     animation: fadeInAnimation ease 3s;

 }
 @keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
 .page-links-1:hover{
    
  
   
   color: white !important;
   
  
 }
 
 .my-carousel-image{
    max-height:800px;
    height:100%;
    object-fit:cover;
    width:100%;
 }
 .gym-pages-2{
    z-index: 999;
 }
 .carousel-adjust{
    margin-top:5vw;
 }
 @media screen and (max-width:850px) {
    .carousel-adjust{
        margin-top: 0;
    }
    
 }
 .inside-carousel{
    position: absolute;
    top: 40%;
    width: 50%;
    background: #10bcf4;
    transform: skew(-20deg);
    left: 1%;
    height: 7%;
    animation:fadeLeft ease 2s;

 }
 @keyframes fadeLeft {
    0% {
       opacity: 0;
       transform: translateX(-400px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateX(0) skew(-20deg);
    }
}
 .inside-carousel h6{
    color: white;
  font-weight: 600;
  text-align: center;
  transform: skew(20deg);
  font-size: clamp(0.45rem, 0.1011rem + 1.9936vw, 2rem); }



  .inside-carousel-2{
    position: absolute;
    top: 55%;
    width: 50%;
    background: #0c1f34;
    transform: skew(-20deg);
    right: 1%;
    height: 7%;
    animation:faderight ease 2s;

 }
 @keyframes faderight {
    0% {
       opacity: 0;
       transform: translateX(400px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateX(0) skew(-20deg);
    }
}
 .inside-carousel-2 h6{
    color: white;
  font-weight: 600;
  text-align: center;
  transform: skew(20deg);
  font-size: clamp(0.45rem, 0.1011rem + 1.9936vw, 2rem); }




  
  .inside-carousel-3{
    position: absolute;
    top: 35%;
    width: 50%;
    background: #0c1f34;
    transform: skew(-20deg);
    left: 25%;
    height: 7%;
    animation: fadetop ease 2s;

 }
 @keyframes fadetop {
    0% {
       opacity: 0;
       transform: translateY(-400px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateY(0) skew(-20deg);
    }
}
 .inside-carousel-3 h6{
    color: white;
  font-weight: 600;
  text-align: center;
  transform: skew(20deg);
  font-size: clamp(0.45rem, 0.1011rem + 1.9936vw, 2rem); }



  .inside-carousel-4{
    position: absolute;
    bottom: 44%;
    width: 50%;
    background: #e75480;
    transform: skew(-20deg);
    left: 30%;
    height: 7%;
    animation: fadebottom ease 2s;

 }
 @keyframes fadebottom {
    0% {
       opacity: 0;
       transform: translateY(400px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateY(0) skew(-20deg);
    }
}
 .inside-carousel-4 h6{
    color: white;
  font-weight: 600;
  text-align: center;
  transform: skew(20deg);
  font-size: clamp(0.45rem, 0.1011rem + 1.9936vw, 2rem); }







  
  .inside-carousel-5{
    position: absolute;
    top: 35%;
    width: 50%;
    background: #0c1f34;
    transform: skew(-20deg);
    left: 2%;
    height: 7%;
    animation: fadetop ease 2s;

 }
 @keyframes fadetop {
    0% {
       opacity: 0;
       transform: translateY(-400px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateY(0) skew(-20deg);
    }
}
 .inside-carousel-5 h6{
    color: white;
  font-weight: 600;
  text-align: center;
  transform: skew(20deg);
  font-size: clamp(0.45rem, 0.1011rem + 1.9936vw, 2rem); }



  .inside-carousel-6{
    position: absolute;
    bottom: 24%;
    width: 50%;
    background: #e75480;
    transform: skew(-20deg);
    right: 2%;
    height: 7%;
    animation: fadebottom ease 2s;

 }
 @keyframes fadebottom {
    0% {
       opacity: 0;
       transform: translateY(400px) skew(-20deg);
    }
    100% {
       opacity: 1;
       transform: translateY(0) skew(-20deg);
    }
}
 .inside-carousel-6 h6{
    color: white;
  font-weight: 600;
  text-align: center;
  transform: skew(20deg);
  font-size: clamp(0.45rem, 0.1011rem + 1.9936vw, 2rem); }







.my-cards{
    
    width:100%;
    height: 700px;;
    display:flex;
   
   
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));    
   

}
@media screen and (max-width:1200px)
{
    .my-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 120vh;
    }
    

}

@media screen and (max-width:653px)
{
  .my-cards  {
        height: 200vh;
    }
}

@media screen and (max-width:450px){
    .my-cards{
        height:250vh;
    }
}
@media screen and (max-width:350px){
    .my-cards{
        height:280vh;
    }
}

.image-card1{
    margin:auto;
    max-width:300px;
    width:100%;
    max-height:400px;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2rem;
    transition: transform .2s;
    animation:zoomin ease-in 2s;

}
@media screen and (max-width:430px){
    .image-card1{
        max-height:320px;
       height:100%;
    }
}
.image-card1:hover{
    transform: scale(1.025); 
}

@keyframes zoomin{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    .image-card1 {
        margin: 2% 1% 2% 1%;
    }
  }

  @media screen and (max-width: 450px) {
    .image-card1 {
      margin: 3%;
    }
  }

.image-card1:hover .inside-image-card1{
    display:block;
    max-width:300px;
    width:100%;
    max-height: 131px;
    height: 100%;
    border-radius: 2rem;
    position: relative;
    top: 269px;
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
    animation:bottomup ease 1s;

}


@media screen and (max-width:430px){
    .image-card1:hover .inside-image-card1{
        display:block;
        max-width:300px;
        width:100%;
        max-height: 125px;
        height: 100%;
    }
}

@keyframes bottomup{
    0% {
        opacity: 0;
      
     }
     100% {
        opacity: 1;
      
     }
}

.inside-image-card1{
    display: none;
}
.inside-image-card1 h6{
 color:white;
 font-weight:600;
 font-size:1.35rem;
 text-align:center;
 padding:4%;


}
.inside-image-card1 p{
    color:white;
    text-align:center;
    margin:auto;
    padding:2%;
   
   
   }

.heading-for-cards{
    background-color: #0c1f34;
    height:100px;
}


.parallax{
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
}

/* @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  } */
.parallex-blue{
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
    height: 600px;
   
}
@media screen and (max-width:1178px)
{
    .parallex-blue{
        height:120vh;
    }
}

@media screen and (max-width:796px){
    .parallex-blue{
        height:160vh;
    }
}

.welecome-tag{
    margin:auto;
}
.welecome-tag h6{
    font-weight: 600;
    color:white;
    text-align:center;
    font-size: clamp(1.45rem, 1.1011rem + 1.9936vw, 3rem);
}


.welecome-tag h3{
    color:white;
    font-size: clamp(1rem, 0.7749rem + 1.2862vw, 2rem);    text-align: center;
}

.blue-card{
    max-width: 350px;
    width:100%;
    height: 220px;
    border-radius:2rem;
    transition: transform .2s;
}


.blue-card:hover{
transform:  scale(1.022);
}

.blue-card img{
    width:100%;
    height:100%;
    border-radius: 1rem 1rem 0 0;
}



.info-blue{
    background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(91, 91, 91, 0.04) 20%, rgba(91, 91, 91, 0.04) 100%),linear-gradient(90deg, rgb(10, 17, 72),rgb(35, 148, 228));
    border-radius:0 0 1rem 1rem;
}
.info-blue h6{
    font-size: clamp(1rem, 0.7749rem + 1.2862vw, 2rem);
    color:white;
    font-weight:600;
    text-align: center;
}

.info-blue p{
   
    color: white;
    padding: 15px;
    text-align: center;
    font-size: clamp(0.95rem, 0.8825rem + 0.3859vw, 1.25rem);
    
}
.blue-card:hover p{
    animation: fadeup ease 2s;
}
 @keyframes fadeup{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
 }
 .blue-cards{
    display: flex;
    margin:3rem 2rem 2rem 2rem;
    max-height: 400px;
    height: 100%;
    justify-content: center;
    gap:2rem;
    flex-wrap: wrap;
 }

 @media screen and (max-width:1178px)
 {
    .blue-cards{
        max-height: fit-content;
        height:80%;
    }
 }
 @media screen and (max-width:796px)
 {
    .blue-cards{
        max-height: fit-content;
        height:93%;
    }
 }